# Data Science Tools and Ecosystem

## Author
Laura Wallis

In this notebook, Data Science Tools and Ecosystem are summarised.

__Objectives:__

* List popular languages for Data Science
* List libraries commonly used in Data Science
* Insert a table in Jupyter notebook
* Write arithmetic expressions in Jupyter notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

In [1]:
pip install tabulate

Collecting tabulate
  Using cached tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from tabulate import tabulate

In [11]:
table = [['Data Science Tools'], 
         ['Apache Hadoop'], 
         ['R Studio'], 
         ['TensorFlow']]

In [12]:
print(tabulate(table, headers='firstrow'))

Data Science Tools
--------------------
Apache Hadoop
R Studio
TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [19]:
minutes = 200

hour = minutes // 60

print("%d" % (hour))

3

This will convert 200 minutes to hours by diving by 60.